
@{
    Layout = "_LayoutStarwars";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>Index</title>*@
</head>
<body style="margin-top:5%">
    <h1 id="judul" class="text-black">SWAPI.</h1>

   

    <table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Tinggi Badan</th>
                <th scope="col">Berat Badan</th>
                <th scope="col">Gender</th>
            </tr>
        </thead>
        <tbody id="listStarwars">

        </tbody>
    </table>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    

</script>
